<div class="modal-header">
    <h4 class="modal-title">Calcular el valor de la encomienda</h4>
    <button type="button" (click)="salir()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="content">
    <div class="card" style="width: 100%;margin-top:10px;font-size:90%;">
        <div class="card-body">
            <div class="row">
                <mat-form-field class="example-form-field col-4">
                    <mat-label>Cantidad de bultos</mat-label>
                    <input matInput type="number" name="cantidad" [(ngModel)]="cantidad">
                    <button *ngIf="cantidad" matSuffix mat-icon-button aria-label="Clear" (click)="cantidad=undefined">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-form-field col-4">
                    <mat-label>Alto (cms)</mat-label>
                    <input matInput type="number" name="alto" [(ngModel)]="alto">
                    <button *ngIf="alto" matSuffix mat-icon-button aria-label="Clear" (click)="alto=undefined">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="example-form-field col-4">
                    <mat-label>Ancho (cms)</mat-label>
                    <input matInput type="number" name="ancho" [(ngModel)]="ancho">
                    <button *ngIf="ancho" matSuffix mat-icon-button aria-label="Clear" (click)="ancho=undefined">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="example-form-field col-4">
                    <mat-label>Largo (cms)</mat-label>
                    <input matInput type="number" name="largo" [(ngModel)]="largo">
                    <button *ngIf="largo" matSuffix mat-icon-button aria-label="Clear" (click)="largo=undefined">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-form-field col-6">
                    <mat-label>Peso (Kg)</mat-label>
                    <input matInput type="number" name="peso" [(ngModel)]="peso">
                    <button *ngIf="peso" matSuffix mat-icon-button aria-label="Clear" (click)="peso=undefined">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="row" style="margin-left: -3px;margin-top: 15px;">
                <div class="col-6" style="padding-left: 1px;">
                    <button mat-raised-button (click)="solicitarCalculo()" color="warn">Calcular valor con estos datos</button>
                </div>
                <div *ngIf=" precio > 0 " class="col-6">
                    <h2 class="rojo" style="text-align:center;">Precio $ {{ precio | number:"1.0-0" }}.-</h2>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="custom-control text-right">
                <button type="button" class="btn btn-secondary text-right" (click)="salir()" style="margin-right: 10px;">Salir</button>
                <button type="button" class="btn btn-primary text-right" (click)="cambiarPrecio()">Actualizar valores</button>
            </div>
        </div>
    </div>
</div>