<!-- grilla de encomiendas -->
<div class="mat-elevation-z8">
    <table mat-table class="mat-table" [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id_paquete">
            <mat-header-cell *matHeaderCellDef style="max-width: 100px;width: 100px;"> #Id </mat-header-cell>
            <mat-cell *matCellDef="let element" style="max-width: 100px;width: 100px;"><b> #{{element.id_paquete}} </b></mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fecha_creacion">
            <mat-header-cell *matHeaderCellDef style="max-width: 150px;width: 150px;"> F.Creacion </mat-header-cell>
            <mat-cell *matCellDef="let element" style="max-width: 150px;width: 150px;"> {{element.fecha_creacion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="obs_carga">
            <mat-header-cell *matHeaderCellDef style="max-width: 150px;width: 150px;"> Encomienda </mat-header-cell>
            <mat-cell *matCellDef="let element" style="max-width: 150px;width: 150px;"> {{element.obs_carga}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="cli_razon">
            <mat-header-cell *matHeaderCellDef style="max-width: 300px;width: 300px;"> Cliente </mat-header-cell>
            <mat-cell *matCellDef="let element" style="max-width: 300px;width: 300px;"> {{element.cli_razon}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="des_razon">
            <mat-header-cell *matHeaderCellDef style="max-width: 300px;width: 300px;"> Destinatario </mat-header-cell>
            <mat-cell *matCellDef="let element" style="max-width: 300px;width: 300px;"> {{element.des_razon}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipo_pago">
            <mat-header-cell *matHeaderCellDef style="max-width: 180px;width: 180px;"> Cobro </mat-header-cell>
            <mat-cell *matCellDef="let element" style="max-width: 180px;width: 180px;font-weight: bold; color: red"> {{element.tipo_pago}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef style="max-width: 200px;width: 200px;"> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element" style="max-width: 200px;width: 200px;"> {{element.estado}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="resultado">
            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <!-- <a *ngIf=" login.usuario.admin " (click)="revisarEncomienda( item )" data-toggle="modal" data-target="#EditEncomienda" class="has-arrow waves-effect text-dark" style="margin-top:10px;">
                    <i class="mdi mdi-lead-pencil mdi-24px"></i>
                </a>&nbsp;
                <a *ngIf=" login.usuario.admin " (click)="cambiodeEstado( item )" data-toggle="modal" data-target="#EditEstados" class="has-arrow waves-effect text-dark" style="margin-top:10px;">
                    <i class="mdi mdi-checkbox-marked-circle-outline mdi-24px "></i>
                </a>&nbsp;
                <a *ngIf=" login.usuario.admin " (click)="borrarEncomienda( item )" class="has-arrow waves-effect text-dark" style="margin-top:10px;color:red;">
                    <i class="mdi mdi-delete mdi-24px "></i>
                </a> -->
            </mat-cell>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column -->
        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let detail">
                <table class="table table-striped table-hover table-sm">
                    <tbody translate="no">
                        <tr>
                            <td scope="row" style="width: 69px;"></td>
                            <td scope="row" style="width: 150px;">
                                <p><i class="mdi mdi-clock-fast mdi-18px"></i> {{ detail.element.hora_creacion }}</p>
                                <p><i class="mdi mdi-calendar-question mdi-18px"></i> {{ detail.element.fecha_prometida }}</p>
                            </td>
                            <td scope="row" style="width: 150px;">
                                <p><i class="mdi mdi-package-variant-closed mdi-18px"></i> {{ detail.element.bultos }} </p>
                                <p><i class="mdi mdi-weight-kilogram mdi-18px"></i> {{ detail.element.peso | number:"1.0-2" }}Kg </p>
                            </td>
                            <td scope="row" style="width: 270px;">
                                <p>{{ detail.element.cli_direccion }}, {{ detail.element.cli_comuna}} </p>
                                <p>{{ detail.element.contacto }}</p>
                                <p>{{ detail.element.cli_referencias }}</p>
                            </td>
                            <td scope="row" style="width: 270px;">
                                <p>{{ detail.element.des_direccion }}, {{ detail.element.des_comuna}} </p>
                            </td>
                            <td style="max-width: 180px;width: 180px;padding-top: 18px; font-weight: bold; color: red" scope="row">
                                <p>${{ detail.element.valor_cobrado | number:"1.0-0"}}</p>
                            </td>
                            <td scope="row" style="max-width: 180px;width: 180px;">
                                <p><i class="mdi mdi-calendar-clock mdi-18px"></i> {{ detail.element.asignacion }}</p>
                                <p><i class="mdi mdi-clock-fast mdi-18px"></i> {{ detail.element.hora_asignacion }}</p>
                                <p><i class="mdi mdi-account-settings mdi-18px"></i> {{ detail.element.pickeador }}</p>
                            </td>
                            <td class="text-center">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- fin detalle ------------------------------------------------ -->
            </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row" (click)="expandedElement = row"></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden"></mat-row>

    </table>

    <mat-paginator [hidePageSize]="true" [length]="filas" [pageSize]="20" [pageSizeOptions]="[20, 40, 100]" showFirstLastButtons></mat-paginator>

</div>