.fuente75 {
    font-size: 90%;
    font-weight: normal;
}

p {
    margin-bottom: 5px;
}

.sinBorde {
    border: 0;
    border-bottom: 0px solid #000;
    height: 24px;
    padding-top: 18px;
}

.modal-body-scroll {
    height: 500px;
    width: 100%;
    overflow-y: auto;
}

select option {
    display: block;
    text-overflow: ellipsis;
    max-height: 200px;
}