<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><b>Nueva encomienda</b></a>
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><b>Retiros</b></a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><b>En acopio</b></a>
        <a class="nav-item nav-link" id="nav-cliente-tab" data-toggle="tab" href="#nav-cliente" role="tab" aria-controls="nav-ccliente" aria-selected="false"><b>Clientes</b></a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!-- Retiros -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <!-- sector de retiro -->
        <div classs="card" style="margin-top: 5px;">
            <table class="table table-striped table-hover table-sm">
                <thead class="bg-dark text-light">
                    <tr translate="no">
                        <th scope="col" style="width:370px;">#Seguimiento / Cliente</th>
                        <th scope="col" style="width:320px;">Destinatario</th>
                        <th scope="col" style="width:150px;">Encomienda</th>
                        <th scope="col" style="width:150px;">Fechas</th>
                        <th scope="col" style="width:150px;">Cobro</th>
                        <th scope="col" style="width:200px;">Estado</th>
                        <th scope="col" style="width:100px;text-align:center;">Acción</th>
                    </tr>
                </thead>
                <tbody translate="no" class="text-dark fuente75">
                    <tr *ngFor="let item of retiros">
                        <td style="padding-top: 18px;" scope="row">
                            <p>( <b>#{{item.id_paquete}}</b> ) {{item.cli_razon}}</p>
                            <p>{{ item.cli_direccion }}, {{ item.cli_comuna}} </p>
                            <p>{{ item.contacto }}</p>
                            <p>{{ item.cli_referencias }}</p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{ item.des_razon }}</p>
                            <p>{{ item.des_direccion }}, {{ item.des_comuna}} </p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{ item.obs_carga }}</p>
                            <p><i class="mdi mdi-package-variant-closed mdi-18px"></i> {{ item.bultos }} </p>
                            <p><i class="mdi mdi-weight-kilogram mdi-18px"></i> {{ item.peso | number:"1.0-2" }}Kg </p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p><i class="mdi mdi-calendar-clock mdi-18px"></i> {{ item.fecha_creacion }}</p>
                            <p><i class="mdi mdi-clock-fast mdi-18px"></i> {{ item.hora_creacion }}</p>
                            <p><i class="mdi mdi-calendar-question mdi-18px"></i> {{ item.fecha_prometida }}</p>
                        </td>
                        <td style="padding-top: 18px; font-weight: bold; color: red" scope="row">
                            <p>{{ item.tipo_pago }}</p>
                            <p>${{ item.valor_cobrado | number:"1.0-0"}}</p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p><i class="mdi mdi-comment-question-outline mdi-18px"></i> {{ item.estado }}</p>
                            <p><i class="mdi mdi-calendar-clock mdi-18px"></i> {{ item.asignacion }}</p>
                            <p><i class="mdi mdi-clock-fast mdi-18px"></i> {{ item.hora_asignacion }}</p>
                            <p><i class="mdi mdi-account-settings mdi-18px"></i> {{ item.pickeador }}</p>
                        </td>
                        <td class="text-center">
                            <a (click)="revisarEncomienda( item )" class="has-arrow waves-effect text-dark" style="margin-top:10px;"><i class="mdi mdi-lead-pencil mdi-24px"></i></a>
                            <br>
                            <a (click)="borrarEncomienda( item )" class="has-arrow waves-effect text-dark" style="margin-top:40px;"><i class="mdi mdi-delete-circle mdi-24px"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Acopios -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <!-- sector de acopios -->
        <div classs="card" style="margin-top: 5px;">
            <table class="table table-striped table-hover table-sm">
                <thead class="bg-success text-light">
                    <tr translate="no">
                        <th scope="col" style="width:300px;">#Seguimiento / Cliente</th>
                        <th scope="col" style="width:360px;">Destinatario</th>
                        <th scope="col" style="width:180px;">Encomienda</th>
                        <th scope="col" style="width:150px;">Fechas</th>
                        <th scope="col" style="width:150px;">Cobro</th>
                        <th scope="col" style="width:200px;">Estado</th>
                        <th scope="col" style="width:100px;text-align:center;">Acción</th>
                    </tr>
                </thead>
                <tbody translate="no" class="text-dark fuente75">
                    <tr *ngFor="let item of acopios">
                        <td style="padding-top: 18px;" scope="row">
                            <p>( <b>#{{item.id_paquete}}</b> ) {{item.cli_razon}}</p>
                            <p>{{ item.cli_direccion }}, {{ item.cli_comuna}} </p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{ item.des_razon }}</p>
                            <p>{{ item.des_direccion }}, {{ item.des_comuna}} </p>
                            <p>{{ item.des_fono1 }}</p>
                            <p>{{ item.des_referencias }}</p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{ item.obs_carga }}</p>
                            <p><i class="mdi mdi-package-variant-closed mdi-18px"></i> {{ item.bultos }} </p>
                            <p><i class="mdi mdi-weight-kilogram mdi-18px"></i> {{ item.peso | number:"1.0-2" }}Kg </p>
                            <div *ngIf=" item.obs_pickeo !== '' " style="font-weight: bold; color: red" scope="row">
                                <p><i class="mdi mdi-contrast-circle mdi-18px"></i> {{ item.obs_pickeo }} </p>
                            </div>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p><i class="mdi mdi-calendar-clock mdi-18px"></i> {{ item.fecha_creacion }}</p>
                            <p><i class="mdi mdi-clock-fast mdi-18px"></i> {{ item.hora_creacion }}</p>
                            <p><i class="mdi mdi-calendar-question mdi-18px"></i> {{ item.fecha_prometida }}</p>
                        </td>
                        <td style="padding-top: 18px; font-weight: bold; color: red" scope="row">
                            <p>{{ item.tipo_pago }}</p>
                            <p>${{ item.valor_cobrado | number:"1.0-0"}}</p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p><i class="mdi mdi-comment-question-outline mdi-18px"></i> {{ item.estado }}</p>
                            <p><i class="mdi mdi-calendar-clock mdi-18px"></i> {{ item.asignacion }}</p>
                            <p><i class="mdi mdi-clock-fast mdi-18px"></i> {{ item.hora_asignacion }}</p>
                            <p><i class="mdi mdi-account-settings mdi-18px"></i> {{ item.pickeador }}</p>
                        </td>
                        <td class="text-center">
                            <a (click)="cargarFoto( item )" data-toggle="modal" data-target="#exampleModal" class="has-arrow waves-effect text-dark" style="margin-top: 10px;"><i class="mdi mdi-camera mdi-24px"></i></a>
                            <br>
                            <a (click)="revisarEncomienda( item )" class="has-arrow waves-effect text-dark" style="margin-top: 10px;"><i class="mdi mdi-lead-pencil mdi-24px"></i></a>
                            <br>
                            <a (click)="borrarEncomienda( item )" class="has-arrow waves-effect text-dark" style="margin-top: 30px;"><i class="mdi mdi-delete-circle mdi-24px"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- clientes -->
    <div class="tab-pane fade" id="nav-cliente" role="tabpanel" aria-labelledby="nav-cliente-tab">
        <div classs="card" style="margin-top: 5px;">
            <!-- buscar clientes -->
            <form (ngSubmit)="buscarClientes()">
                <div class="form-row mt-2">
                    <div class="col-8">
                        <label class="col-2 col-form-label text-left">Buscar cliente</label>
                        <input class="col-10 form-control" type="text" name="nombreorut" [(ngModel)]="nombreorut" placeholder="digite algo del nombre o rut...">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-outline-dark mb-2">Buscar</button>
                    </div>
                    <button type="button" class="btn btn-link text-right" style="padding-top: 0px;" (click)="limpiar()">
                        <i class="mdi mdi-refresh mdi-36px"></i>
                    </button>
                    <button type="button" class="btn btn-link text-right" style="padding-top: 0px;" (click)="crearCliente()" data-toggle="modal" data-target="#ModalCenteredCrear">
                        <i class="mdi mdi-plus-circle-outline mdi-36px"></i>
                    </button>
                </div>
            </form>
            <div class="progress" *ngIf=" buscando ">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height: 5px;"></div>
            </div>

            <!-- grilla de clientes -->
            <table class="table table-striped table-sm">
                <thead class="bg-dark text-light">
                    <tr translate="no">
                        <th scope="col" style="width:100px;">RUT</th>
                        <th scope="col" style="width:350px;">Razon Social / Nombre Fantasía</th>
                        <th scope="col" style="width:400px;">Direccion / Comuna</th>
                        <th scope="col" style="width:150px;">Teléfonos</th>
                        <th scope="col" style="width:200px;">Email</th>
                        <th scope="col" style="width:100px;text-align:center;">Acción</th>
                    </tr>
                </thead>
                <tbody translate="no" class="text-dark fuente75">
                    <tr *ngFor="let item of clientes">
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{item.rut}}</p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{ item.razon_social }}</p>
                            <p>{{ item.nombre_fantasia }}</p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{ item.direccion }}</p>
                            <p>{{ item.comuna }}</p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{ item.telefono1 }} - {{ item.telefono2 }}</p>
                        </td>
                        <td style="padding-top: 18px;" scope="row">
                            <p>{{ item.email }}</p>
                        </td>
                        <td class="text-center">
                            <a (click)="editarCliente( item )" data-toggle="modal" data-target="#ModalCenteredCrear" class="has-arrow waves-effect text-dark" style="margin-top:10px;"><i class="mdi mdi-lead-pencil mdi-24px"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Nueva Encomienda -->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div classs="card" style="margin-top: 5px;">
            <div class="progress" *ngIf=" grabando ">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height: 5px;"></div>
            </div>
            <form (ngSubmit)="crearEncomienda()">
                <!-- datos cliente / despachante -->
                <div class="card" style="width: 100%;margin-top:10px;">
                    <div class="card-body">
                        <h3 class="card-title"><b>Datos del Origen</b></h3>
                        <div class="row" style="margin-top: -38px;">
                            <div class="col-1" style="margin-top: 32px;">
                                <button type="button" (click)="limpiaDataChica()" data-toggle="modal" data-target="#buscarClientes" class="btn btn-primary btn-block">Buscar</button>
                            </div>
                            <div class="col-4">
                                <label>.</label>
                                <input readonly type="text" class="form-control" name="carga.xnombreCliente" [(ngModel)]="carga.xnombreCliente">
                            </div>
                            <div class="col-2">
                                <label>Rut</label>
                                <input readonly type="text" class="form-control" name="carga.xrutCliente" [(ngModel)]="carga.xrutCliente">
                            </div>
                            <div class="col-3">
                                <label>Email</label>
                                <input readonly type="text" class="form-control" name="carga.xemailCliente" [(ngModel)]="carga.xemailCliente">
                            </div>
                            <div class="col-2">
                                <label>Telefonos</label>
                                <input readonly type="text" class="form-control" name="carga.xfonosCliente" [(ngModel)]="carga.xfonosCliente">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-3">
                                <label>Dirección</label>
                                <input readonly type="text" class="form-control" name="carga.xdireccCliente" [(ngModel)]="carga.xdireccCliente">
                            </div>
                            <div class="col-md-4">
                                <label>Comuna</label>
                                <input readonly type="text" class="form-control" name="carga.xcomunaCliente" [(ngModel)]="carga.xcomunaCliente">
                            </div>
                            <div class="col-md-3">
                                <label>Contacto Pickeo (quién entrega?)</label>
                                <input type="text" class="form-control" name="carga.contacto" [(ngModel)]="carga.contacto">
                            </div>
                            <div class="col-md-2">
                                <label>Fecha en destino</label>
                                <input type="date" class="form-control" name="fecha_prometida" [(ngModel)]="carga.fecha_prometida">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-2">
                                <label>Valor Encomienda</label>
                                <input type="number" class="form-control" name="carga.valor_cobrado" [(ngModel)]="carga.valor_cobrado">
                            </div>
                            <div class="col-md-3">
                                <label>Tipo Pago</label>
                                <select class="form-control text-left" name="carga.tipo_pago" [(ngModel)]="carga.tipo_pago">
                                    <option value=""></option>
                                    <option *ngFor="let tp of login.tiposDePago" [value]="tp.tipo_pago">{{ tp.descripcion }}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Tipo de Carga</label>
                                <input type="text" class="form-control" name="carga.obs_carga" [(ngModel)]="carga.obs_carga">
                            </div>
                            <div class="col-md-1">
                                <label>Bultos</label>
                                <input type="number" class="form-control" name="carga.bultos" [(ngModel)]="carga.bultos">
                            </div>
                            <div class="col-md-1">
                                <label>Peso (Kg)</label>
                                <input type="number" class="form-control" name="carga.peso" [(ngModel)]="carga.peso">
                            </div>
                            <div class="col-md-1">
                                <label>Volumen (m3)</label>
                                <input type="number" class="form-control" name="carga.volumen" [(ngModel)]="carga.volumen">
                            </div>
                            <div class="col-md-2">
                                <label>Tipo y Nro.de Documento</label>
                                <input type="text" class="form-control" name="carga.numero_legal" [(ngModel)]="carga.numero_legal">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- datos del destino / receptor -->
                <div class="card" style="width: 100%;margin-top:10px;">
                    <div class="card-body">
                        <h3 class="card-title"><b>Datos del Destinatario</b></h3>
                        <div class="row" style="margin-top: -38px;">
                            <div class="col-1" style="margin-top: 32px;">
                                <button type="button" (click)="limpiaDataChica()" data-toggle="modal" data-target="#buscarDestinos" class="btn btn-primary btn-block">Buscar</button>
                            </div>
                            <div class="col-4">
                                <label>.</label>
                                <input readonly type="text" class="form-control" name="carga.xnombreDestino" [(ngModel)]="carga.xnombreDestino">
                            </div>
                            <div class="col-2">
                                <label>Rut</label>
                                <input readonly type="text" class="form-control" name="carga.xrutDestino" [(ngModel)]="carga.xrutDestino">
                            </div>
                            <div class="col-3">
                                <label>Email</label>
                                <input readonly type="text" class="form-control" name="carga.xemailDestino" [(ngModel)]="carga.xemailDestino">
                            </div>
                            <div class="col-2">
                                <label>Telefonos</label>
                                <input readonly type="text" class="form-control" name="carga.xfonosDestino" [(ngModel)]="carga.xfonosDestino">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Dirección</label>
                                <input readonly type="text" class="form-control" name="carga.xdireccDestino" [(ngModel)]="carga.xdireccDestino">
                            </div>
                            <div class="col-md-5">
                                <label>Comuna</label>
                                <input readonly type="text" class="form-control" name="carga.xcomunaDestino" [(ngModel)]="carga.xcomunaDestino">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Grabar los datos de Encomienda</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal que despliega la foto -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 670px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagen del Retiro ( <b>#{{ idfoto }}</b> )</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <img [src]="foto">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal buscar clientes -->
<div class="modal fade" id="buscarClientes" tabindex="-1" role="dialog" aria-labelledby="#buscarClientes" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 950px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- buscar clientes -->
            <div class="row" style="margin-top: 10px;">
                <div class="col-10" style="margin-top: 10px; border-left-width: 17px; margin-left: 17px;">
                    <input class="form-control col-9" type="text" name="buscarCliente" [(ngModel)]="buscarCliente">
                </div>
                <div class="col-1" style="margin-top: 10px;">
                    <button type="button" (click)="buscarClientesChico()" class="btn btn-outline-dark mb-2">Buscar</button>
                </div>
            </div>
            <div class="progress" *ngIf=" buscandoChico ">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height: 5px;"></div>
            </div>

            <div class="modal-body">
                <table class="table table-sm">
                    <thead class="bg-dark text-light">
                        <tr translate="no">
                            <th scope="col" style="width:100px;">RUT</th>
                            <th scope="col" style="width:250px;">Razón Social</th>
                            <th scope="col" style="width:300px;">Dirección</th>
                            <th scope="col" style="width:200px;">Comuna</th>
                        </tr>
                    </thead>
                    <tbody translate="no" class="text-dark fuente75">
                        <tr *ngFor="let item of clienteChico" data-dismiss="modal" (click)="esteClienteDestino( item, true )">
                            <td style="padding-top: 18px;" scope="row">
                                <p>{{item.rut}}</p>
                            </td>
                            <td style="padding-top: 18px;" scope="row">
                                <p>{{ item.razon_social }}</p>
                                <p>{{ item.nombre_fantasia }}</p>
                            </td>
                            <td style="padding-top: 18px;" scope="row">
                                <p>{{ item.direccion }}</p>
                            </td>
                            <td style="padding-top: 18px;" scope="row">
                                <p>{{ item.comuna }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal buscar destinatarios -->
<div class="modal fade" id="buscarDestinos" tabindex="-1" role="dialog" aria-labelledby="#buscarDestinos" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 950px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar Destinatarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- buscar clientes -->
            <div class="row" style="margin-top: 10px;">
                <div class="col-10" style="margin-top: 10px; border-left-width: 17px; margin-left: 17px;">
                    <input class="form-control col-9" type="text" name="buscarCliente" [(ngModel)]="buscarCliente">
                </div>
                <div class="col-1" style="margin-top: 10px;">
                    <button type="button" (click)="buscarClientesChico()" class="btn btn-outline-dark mb-2">Buscar</button>
                </div>
            </div>
            <div class="progress" *ngIf=" buscandoChico ">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;height: 5px;"></div>
            </div>

            <div class="modal-body">
                <table class="table table-sm">
                    <thead class="bg-dark text-light">
                        <tr translate="no">
                            <th scope="col" style="width:100px;">RUT</th>
                            <th scope="col" style="width:250px;">Razón Social</th>
                            <th scope="col" style="width:300px;">Dirección</th>
                            <th scope="col" style="width:200px;">Comuna</th>
                        </tr>
                    </thead>
                    <tbody translate="no" class="text-dark fuente75">
                        <tr *ngFor="let item of clienteChico" data-dismiss="modal" (click)="esteClienteDestino( item, false )">
                            <td style="padding-top: 18px;" scope="row">
                                <p>{{item.rut}}</p>
                            </td>
                            <td style="padding-top: 18px;" scope="row">
                                <p>{{ item.razon_social }}</p>
                                <p>{{ item.nombre_fantasia }}</p>
                            </td>
                            <td style="padding-top: 18px;" scope="row">
                                <p>{{ item.direccion }}</p>
                            </td>
                            <td style="padding-top: 18px;" scope="row">
                                <p>{{ item.comuna }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal crear/modificar cliente -->
<div class="modal fade" id="ModalCenteredCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCenteredCrearLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 670px;">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalCenteredCrearLabel">Mantención de Clientes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label">Rut</label>
                        <input class="form-control col-9" type="text" name="xrut" [(ngModel)]="linea.rut">
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label">Nombre</label>
                        <input class="form-control col-9" type="text" name="razon_social" [(ngModel)]="linea.razon_social">
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label">Nombre fantasia</label>
                        <input class="form-control col-9" type="text" name="razon_fantasia" [(ngModel)]="linea.nombre_fantasia">
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label">Dirección</label>
                        <input class="form-control col-9" type="text" name="direccion" [(ngModel)]="linea.direccion">
                    </div>

                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label text-left">Comuna</label>
                        <select class="form-control col-9 text-left" name="comuna" [(ngModel)]="linea.comuna">
                          <option value="">Seleccione una comuna</option>
                          <option *ngFor="let comu of login.ciudadesPermitidas" [value]="comu.ciudad">{{ comu.ciudad }}</option>
                        </select>
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label">Teléfono (1)</label>
                        <input class="form-control col-9" type="text" name="telefono1" [(ngModel)]="linea.telefono1">
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label">Teléfono (2)</label>
                        <input class="form-control col-9" type="text" name="telefono2" [(ngModel)]="linea.telefono2">
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label">e-Mail</label>
                        <input class="form-control col-9" type="mail" name="email" [(ngModel)]="linea.email">
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                        <label class="col-3 col-form-label">Referencias</label>
                        <input class="form-control col-9" type="text" name="referencias" [(ngModel)]="linea.referencias" placeholder="ubicacion o proximidad o cruce...">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="grabarCliente()">Grabar y actualizar</button>
            </div>
        </div>
    </div>
    <!-- 
                </div>
         -->
</div>
<!-- fin modal -->